/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #d4d9e8;
}
/* Title */
.title {
    font-size: 35px;
    margin-bottom: 30px;
    font-weight: bold;
}
/* Container */
.container {
    position: relative;
    max-width: 350px;
    width: 100%;
    border-radius: 12px;
    padding: 10px 20px 20px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
/* Input */
.display {
    height: 80px;
    width: 100%;
    margin-bottom: 10px;
    font-size: 25px;
    outline: none;
    border: none;
    text-align: right;
    color: #000e1a;
    pointer-events: none;
    font-family: "Poppins", sans-serif;
}
/* Buttons parent */
.buttons {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}
/* Button */
.buttons button {
    font-family: "Poppins", sans-serif;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #838383;
    background-color: #eee;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}
.buttons button:hover {
    background-color: #2f9fff;
    border: 1px solid #2f9fff;
    color: #fff;
    transition: 0.2s;
}
.buttons button:active {
    background-color: #0061b6;
}
/* Operators */
.operator {
    color: #ffffff;
    background-color: #242424 !important;
    border: none !important;
}
.operator:hover {
    opacity: 0.8;
}
.operator:active {
    opacity: 0.7;
}
/* Info */
.info {
    margin-top: 30px;
    font-size: 16px;
    color: rgb(93, 93, 93);
}
.info-link {
    text-decoration: none;
    color: rgb(71, 71, 71);
    margin-left: 5px;
}
.info-link:hover {
    color: rgb(0, 0, 0);
}